body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  
  .content {
    padding: 15px;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: rgba(0, 0, 0, 0.06);
  }
  


  .bar {
    float: left;
    width: 30px;
    height: 12px;
    border-radius: 2px;
    background-color: #4b9cdb;
  }
  
  
  
  .load-10 .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }

  @keyframes loadingJ {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(80px, 0);
      background-color: #f5634a;
      width: 25px;
    }
  }
  

  p.author{
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    position: fixed;
    bottom: 10px;
    right: 10px;
}